.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

h1, h2 {
  color: #483467;
  font-weight: bold;
}

h1 {
  text-shadow: 1px 1px 0px white;
  font-size: 3em;
}

.loan-option {
  border: 1px solid #4A87E6;
  border-radius: 3px;
  width: 30%;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 3px 2px #F5F5F5;
  color: #483467;
  background-color: #F7F2EB;
}


.lenders-spot-holder {
  height: 150px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.header {
  margin: 40px;
  padding: 10px;
  background-image: url('img/house_banner.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.houses {
  background-image: url('img/Houses.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.lenders-area {
  width: calc(100% - 200px);
  padding-left: 100px;
  padding-right: 100px;
}

.lenders-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@keyframes spin {
    0% {transform:rotateZ(-360deg);}
}

.load_icon_container {
  display: flex;
  padding-top: 100px;
  justify-content: center;
}

.load_icon {
  height: 50px;
  width: 50px;
  border: 10px solid #483467;
  border-top: 10px solid #F7F2EB;
  border-radius: 50%;
  animation: spin 2s ease infinite;
}


.loan-option p {
  width: 50%;
  font-size: 1.5em;
  font-weight: bold;
}

.bank-name {
  font-weight: bold;
  /*color: #483467;*/
}

.label {
  font-size: .75em !important;
  font-weight: lighter !important;
  align-self: flex-start;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
}

.rate, .term, .payment, .type {
  margin-top: 5px;

}

.payment {
  font-size: 2.5em;
}

.sort-btn, select {
  color: white;
  background-color: rgba(0,0,0,0);
  border: 1px solid white;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  transition: all .2s linear;
  height: 19px;
}

.search-input, .search-btn {
  height: 40px;
  border: none;
  outline: none;
  border: 2px solid #4A87E6;
  border-radius: 3px;
}

.search-input {
  padding: 0;
  width: 400px;
  padding-left: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none;
}

.search-btn {
  width: 100px;
  height: 44px;
  background-color: #483467;
  color: white;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: none;
  cursor: pointer;
}


.sort-btn:hover {
  color:  #4A87E6;
  background-color: white;
}

.filters {
  display: flex;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4A87E6;
  height: 80px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 50px;
  color: #F7F2EB;
  font-size: 10px;
}

.filter {
  display: flex;
  justify-content: space-between;
  margin-right: 8px;
  align-items: center;
}

.filter p {
  margin-right: 8px;
}

@media (max-width: 1200px) {

  .loan-option {
    width: 40%;
  }
}

@media (max-width: 850px) {
  .lenders-container {
    flex-direction: column;
    align-items: center;
  }

  .loan-option {
    width: 90%;
  }
}

@media (max-width: 650px) {

  .loan-option {
    width: 95%;
  }

  .filters {
    flex-direction: column;
  }

  .filter-container {
    height: 120px;
  }

  .search-input {
    width: 250px;
  }

  .lenders-area {
    padding: 5px;
    margin: 0;
    width: 100%;
  }

  .header {
    margin: 15px;
  }
}


@media (max-width: 450px) {
  .search-input {
    width: 150px;
  }
}

